body {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

hr {
    margin: 1.5rem 0;
}

img {
    padding-bottom: 20px;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

#mapDiv {
    width: 100%;
    --bs-gutter-x: 0;
}

#leafMapDiv {
    width: 100%;
    height: 70vh;
    --bs-gutter-x: 0;
}

#starPick {
    width: 100%;
}

#starPickDiv {
    width: 100%;
    height: 73vh;
    --bs-gutter-x: 0;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-star {
    width: 10rem;
}


#selectbox{
    margin-left: 80px;
    float:left
}
#sankeyDiv{
    height: 700px;
    width: 900px;
}
#switchView{
    width:100px;
}
#leftSelection{
    margin-left: 30px;
    text-align:center;
    width:160px
}
#rightSelection{
    margin-left: 520px;
    text-align:center;
    width:160px
}

.tooltip h4{
    text-align: center;
    padding: 8px;
    font: 12px sans-serif; /* Adjust the font size here */
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black; /* Optional: Adjust the text color here */
}
.tooltip h3{
    font: 18px sans-serif; /* Adjust the font size here */
    text-align: center;
}

#sunburstDiv {
    width: 100%;
    height: 100%;
}

#bochelinDiv {
    width: 100%;
    height: 90vh;
    --bs-gutter-x: 0;
}

#wordCloud {
    width: 100%;
    height: 90vh;
    --bs-gutter-x: 0;
}

/*Search button for Map*/
#search-container {
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 25px;
}

#searchInput {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid #dddddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

#searchInput:focus {
    border-color: #D50000;
}

#searchButton {
    width: 20%;
    padding: 10px 15px;
    background-color: #D50000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

#searchButton:hover {
    background-color: #9B0000;
}

/*Filter for Map*/
.sorting-award select,
.sorting-region select {
    width: 80%;
    padding: 10px 15px;
    border: 2px solid #dddddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.sorting-award select:focus,
.sorting-region select:focus {
    border-color: #D50000;
}

.sorting-award,
.sorting-region {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    width: 10%;
}

.sorting-award option,
.sorting-region option {
    padding: 0;
    background-color: white;
    color: black;
}

.fp-watermark {
    visibility: hidden;
}

/* for michelin stars introduction page */
.michelin-stars{
    width:800px;
}
hr{
    border: none;
    background: transparent;
}
.col-3{
    background-color: #ffb3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.col-3 p {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.col-9{
    text-align: left;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
} /* for michelin stars introduction page */


/* font */
h1 {
    font-family: "AvenirNext-Regular", "Helvetica Neue Light", sans-serif;
}

h3 {
    font-size: 30px;
    font-family: "AvenirNext-Regular", "Helvetica Neue Light", sans-serif;
}

h4, h5 {
    font-family: "AvenirNext-Regular", "Helvetica Neue Light", sans-serif;
    margin-bottom: 20px;
}


p {
    font-family: "AvenirNext-Regular", "Helvetica Neue Light", sans-serif;
}

h6 {
    font-family: "AvenirNext-Regular", "Helvetica Neue Light", sans-serif;
    font-weight: 9;
}

#wordCloud-text{
    font-size: 30px;
    margin-top: 120px;
}

#sunburst-text {
    font-size: 40px;
}